body {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

.calculator {
    margin: 60px;
    background-color: black;
    border: 8px solid #3b3b3b;
    border-radius: 4px;
    width: 400px;
    height: 500px;
}

.display {
    
    background-color: #ECF87F;
    height: 80px;
    border: 8px solid black;
    font-size: 40px;
   
}





button {
    padding: 25px;
}