html, body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.calculator {

    margin: 60px;
    background-color: black;
    border: 8px solid #3b3b3b;
    border-radius: 4px;
    width: 400px;
    height: 500px;
}

.display {
    text-align: right;
    padding: 4px;
    background-color: #ECF87F;
    height: 80px;
    border: 8px solid black;
    font-size: 70px;
    font-weight: bold;
   
}





button {
    padding: 25px;
}